/* Setup */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

@font-face {
    font-family: JosefinSans;
    src: url(../Fonts/JosefinSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

/* preloader */

#overlay {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    background: rgb(22, 22, 22);
}

.goback {
    position: fixed;
    z-index: 888;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.7);
    width: 30px;
    background: rgb(39, 79, 151);
    padding: 5px;
    transform: scale(0);
    cursor: pointer;
    transition: all 500ms ease;
}

.goback.in {
    transform: scale(1);
}

/* header => container of the navigation bar and the intro screen */

header {
    width: 100%;
}

/* nav === the navigation bar itself, changes to mobile view at screen-width: 900px */

.nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    position: fixed;
    z-index: 20;
    top: 0;
    background: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    padding-bottom: 5px;
    width: 100%;
}

.nav__logo {
    cursor: pointer;
}

.nav img {
    max-width: 60px;
}

.nav__menuBurger {
    display: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links a {
    transition: all 300ms ease 0s;
    cursor: pointer;
    text-decoration: none;
    color: #edf0f1;
}

.nav__links li:hover a {
    color: teal !important;
}

.nav__button button {
    padding: 9px 25px;
    color: rgba(0,136,169, 1);
    border: 1px solid rgba(0,136,169, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease 0s;
}

.nav__button button:hover {
    color: #edf0f1;
    background-color: rgba(0, 136, 169, 0.8);
    border-color: rgba(0,136,169, 0.8);
}

.event {
    position: fixed;
    top: 15vh;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    color: #edf0f1;
    font-family: "Raleway";
    background: #192a5600;
    padding: 50px 15%;
    height: 85vh;
}

.simplebar-scrollbar::before {
    background: #edf0f1;
}

.event__flexbox {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title title"
        "hd hd"
        "desc desc";
    grid-gap: 50px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    overflow: hidden;
    padding-bottom: 50px;
}

#event__title {
    grid-area: title;
    width: 100%;
    text-align: center;
    font-family: JosefinSans;
    padding-bottom: 40px;
    font-size: 3em;
}

#event__title::after {
    content: "";
    display: block;
    position: relative;
    width: 10%;
    margin: 5px auto;
    height: 2px;
    border-radius: 1px;
    background: #edf0f1;
}

.event__heads {
    grid-area: hd;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
}

.event__heads__details {
    padding: 20px 0;
}

.event__heads__details img {
    width: 100%;
    border-radius: 50%;
    min-width: 150px;
    max-width: 200px;
}

.event__heads__description::before {
    content: "";
    display: block;
    position: relative;
    width: 40%;
    height: 2px;
    border-radius: 1px;
    margin: 10px auto;
    background: #edf0f1;
    justify-items: end;
}

.event__heads__details ul {
    list-style: none;
}

.event__description {
    grid-area: desc;
    font-size: 1em;
    align-items: start;
}

.event__description a {
    padding: 9px 25px;
    color: #edf0f1;
    border: 1px solid rgba(0,136,169, 0.8);
    background-color: rgba(0, 136, 169, 0.8);
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease 0s;
    text-decoration: none;
    margin: 10px auto;
}

.event__description a:hover {
    color: rgba(0,136,169, 1);
    background: transparent;
    border: 1px solid rgba(0,136,169, 1);
}

@media (max-width: 900px) {
    .event__flexbox {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-gap: 5px;
        grid-template-areas:
            "title"
            "hd"
            "desc";
    }

    .event__heads {
        flex-flow: row wrap;
    }
}

@media (max-width: 1150px) and (min-width: 900px) {
    .nav__links li {
        display: inline-block;
        padding: 0 5px;
    }
}

@media (max-width: 900px) {
    .heading {
        width: 100%;
    }

    .nav {
        justify-content: flex-end;
        align-items: center;
        flex-flow: row wrap;
        padding: 5px 10px;
        width: 100%;
    }

    .nav__scienceSociety {
        order: 0;
        margin-right: auto;
    }

    .nav__logo {
        order: 1;
        margin: 0 auto;
        display: none;
    }
    
    .nav__menuBurger {
        display: block;
        order: 2;
        width: 60px;
        margin: auto 0;
        margin-left: auto;
        cursor: pointer;
        text-align: right;
        line-break: after;
    }

    .nav__menuBurger img {
        width: 30px;
    }

    nav {
        border-top: 1px solid #edf0f1;
        width: 100%;
        text-align: center;
        line-break: before;
        order: 3;
        display: none;
    }
    
    .nav__links {
        list-style: none;
    }
    
    .nav__links li {
        display: block;
        margin: 0 auto;
        padding: 20px 20px;
    }
    
    .nav__links a {
        transition: all 300ms ease 0s;
        cursor: pointer;
        text-decoration: none;
        color: #edf0f1;
    }
    
    .nav__links li:hover a {
        color: #8088a9;
    }

    .nav__button {
        order: 4;
        width: 100%;
        text-align: center;
        display: none;
        height: 100vh;
    }
}